<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ab6c646fc44d6246003f3090595a28:2c0c8ad073e462846b042370fad21d96:decfcfc7f7f9a921f47922ca05417b70$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Enemy2.1.png</string>
                <key>size</key>
                <string>{1399,1019}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (5).png</string>
                        <key>spriteOffset</key>
                        <string>{53,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{359,299}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{303,250}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (2).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{359,299}</string>
                        <key>textureRect</key>
                        <string>{{1,253},{287,255}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (3).png</string>
                        <key>spriteOffset</key>
                        <string>{18,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{359,299}</string>
                        <key>textureRect</key>
                        <string>{{1,510},{287,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (1).png</string>
                        <key>spriteOffset</key>
                        <string>{23,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{359,299}</string>
                        <key>textureRect</key>
                        <string>{{1,766},{285,252}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (4).png</string>
                        <key>spriteOffset</key>
                        <string>{52,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{359,299}</string>
                        <key>textureRect</key>
                        <string>{{306,1},{283,253}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (1).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{591,1},{287,233}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hurt.png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{591,1},{287,233}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (10).png</string>
                        <key>spriteOffset</key>
                        <string>{9,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{288,766},{254,252}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>idle.png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{880,1},{270,246}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (1).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1152,1},{246,270}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (7).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{290,256},{270,246}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (11).png</string>
                        <key>spriteOffset</key>
                        <string>{8,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{290,504},{253,260}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (9).png</string>
                        <key>spriteOffset</key>
                        <string>{8,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{290,504},{253,260}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (3).png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{544,766},{251,252}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (2).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{591,236},{287,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (12).png</string>
                        <key>spriteOffset</key>
                        <string>{8,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{880,249},{262,249}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (8).png</string>
                        <key>spriteOffset</key>
                        <string>{8,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{880,249},{262,249}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (4).png</string>
                        <key>spriteOffset</key>
                        <string>{10,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1144,273},{253,247}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (3).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{562,430},{288,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (4).png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{545,608},{288,133}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (2).png</string>
                        <key>spriteOffset</key>
                        <string>{8,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{852,500},{259,251}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (6).png</string>
                        <key>spriteOffset</key>
                        <string>{8,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1113,522},{259,251}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (5).png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{797,753},{252,251}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
