<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60fd941af1519aa84eca5cd684671758:128c4544d9ad3392f5b630006d2745c2:3a8af78f95fcf95ccb59fcd08f376ef9$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Enemy1.1.png</string>
                <key>size</key>
                <string>{2017,577}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (4).png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{346,299}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{208,246}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (6).png</string>
                        <key>spriteOffset</key>
                        <string>{51,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1,249},{201,237}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (7).png</string>
                        <key>spriteOffset</key>
                        <string>{56,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{211,1},{199,225}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hurt.png</string>
                        <key>spriteOffset</key>
                        <string>{33,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{412,1},{213,208}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (1).png</string>
                        <key>spriteOffset</key>
                        <string>{40,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{627,1},{206,208}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (4).png</string>
                        <key>spriteOffset</key>
                        <string>{17,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{835,1},{226,186}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (3).png</string>
                        <key>spriteOffset</key>
                        <string>{23,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1063,1},{230,175}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (5).png</string>
                        <key>spriteOffset</key>
                        <string>{23,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1063,1},{230,175}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (2).png</string>
                        <key>spriteOffset</key>
                        <string>{27,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1295,1},{237,164}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (6).png</string>
                        <key>spriteOffset</key>
                        <string>{27,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1295,1},{237,164}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (1).png</string>
                        <key>spriteOffset</key>
                        <string>{39,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1534,1},{240,160}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (11).png</string>
                        <key>spriteOffset</key>
                        <string>{46,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1776,1},{239,156}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (3).png</string>
                        <key>spriteOffset</key>
                        <string>{23,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{412,211},{244,152}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (5).png</string>
                        <key>spriteOffset</key>
                        <string>{23,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{658,211},{241,154}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (8).png</string>
                        <key>spriteOffset</key>
                        <string>{39,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{901,189},{196,215}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defend (3).png</string>
                        <key>spriteOffset</key>
                        <string>{25,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1099,178},{197,212}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (2).png</string>
                        <key>spriteOffset</key>
                        <string>{40,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1099,392},{211,184}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defend (2).png</string>
                        <key>spriteOffset</key>
                        <string>{35,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1298,167},{181,221}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defend (1).png</string>
                        <key>spriteOffset</key>
                        <string>{40,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1312,390},{234,166}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>attack (2).png</string>
                        <key>spriteOffset</key>
                        <string>{39,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{204,249},{144,242}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>idle.png</string>
                        <key>spriteOffset</key>
                        <string>{39,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{350,365},{244,155}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (1).png</string>
                        <key>spriteOffset</key>
                        <string>{39,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{596,367},{244,155}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (7).png</string>
                        <key>spriteOffset</key>
                        <string>{39,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{842,406},{244,155}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (12).png</string>
                        <key>spriteOffset</key>
                        <string>{44,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1534,163},{241,157}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (8).png</string>
                        <key>spriteOffset</key>
                        <string>{44,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1534,163},{241,157}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (9).png</string>
                        <key>spriteOffset</key>
                        <string>{46,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1777,159},{239,156}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>walk (10).png</string>
                        <key>spriteOffset</key>
                        <string>{51,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1548,322},{152,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (3).png</string>
                        <key>spriteOffset</key>
                        <string>{40,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1702,322},{145,233}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dead (4).png</string>
                        <key>spriteOffset</key>
                        <string>{40,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{310,299}</string>
                        <key>textureRect</key>
                        <string>{{1849,317},{145,233}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
